<!--The content below is only a placeholder and can be replaced.-->

  <!---
  Hi Welcome {{name}} {{course}}!
  
  <button (click)="clicked('hello')">click me</button>
  <button (click)="increment()">click me</button>
  <button (click)="add()"> add</button>
  <button (click)="sub()"> sub</button>
  <button (click)="mul()">mul</button>
  <button (click)="div()">div</button>
  
  {{num}}
  {{b}}-->
  <app-tree></app-tree>
  <!--<div style="background-color: turquoise;color:white;">Foodies</div>-->
  <!--<app-offer></app-offer>
  <app-veg></app-veg>-->

  <!---<button>veg</button>
  <button>NonVeg</button>-->

 <!-- <a routerLink="/veg" >Veg</a>
  <a routerLink="/nonveg">Non Veg</a>-->

  <button (click)="routeToVeg()">Veg</button>
  <button (click)="routeToNonVeg()">NonVeg</button>
<!--<app-rocket1></app-rocket1>-->
 <!--<router-outlet></router-outlet>-->
